In [2]:
##---01/01/26---##
##--Print Statement(ARITHMETIC)--##
print("Not this again")
print(3+2)
print(3-2)
print(3*2)
print(3**2)
print(3/2)
print(3//2)

Not this again
5
1
6
9
1.5
1

In [18]:
##---Print Statement(Checking data types)---##
print(type(10))
print(type(3.14))
print(type(2 + 3j))
print(type(1j + 2j))
print(type('chopped'))
print(type([1,2,3]))
print(type({'name':'place','animal':'thing'}))
print(type({4.5,1,4,2.4}))
print(type((1.5,2,45.4,3)))
print(type(3 == 3))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>

In [37]:
##---------------------------------------------------------------------
##---Built in Functions---##
print("420 BLAZE")


print(len("Shrivastav"))


#a = input("Enter your Name")
#print('Your name is ' + a )

print(type(10))


int(12.7)
str(5)
float(69)
bool(1)


abs(-420)
round(69.3)
min(12,3,311,4,1)
max(3,2,1)
print(sum((1,2))) #numbers should be inside tuple,list.

##tuple,lib.

420 BLAZE
10
<class 'int'>
3

In [ ]:
##---02/01/26---##
##Continuing Built-in Functions##